- id: '1759585676128'
  alias: gitpush
  description: ''
  triggers:
  - trigger: time
    at: 02:00:00
  conditions: []
  actions:
  - action: shell_command.pushupdates_to_github
    metadata: {}
    data: {}
  mode: single
- id: '1769261881759'
  alias: New automation
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.ev_tank_ev_battery_charge
    from:
    to:
    - 'on'
  conditions:
  - condition: device
    device_id: fcfaaedb4eb0fda0ef76e166d8fb8ab7
    domain: device_tracker
    entity_id: d8e4c4ae2cb52575dbcece61045311e2
    type: is_home
  actions:
  - device_id: 7191f1d79d9f643f959a2d6c2a6a7fb7
    domain: button
    entity_id: 7e8a9ab19dd6a1455d1c94081daef6ee
    type: press
  mode: single
- id: '1769262021325'
  alias: New automation2
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.ev_tank_ev_battery_charge
    from:
    to:
    - 'off'
  conditions:
  - condition: device
    device_id: fcfaaedb4eb0fda0ef76e166d8fb8ab7
    domain: device_tracker
    entity_id: d8e4c4ae2cb52575dbcece61045311e2
    type: is_home
  actions:
  - device_id: 7191f1d79d9f643f959a2d6c2a6a7fb7
    domain: button
    entity_id: ea7894544e30a92c941aee5fbec4fa65
    type: press
  mode: single
- id: '1769365529096'
  alias: When C40 is charging
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.volvo_c40_charging_status
    from:
    to:
    - 'on'
  conditions:
  - condition: device
    device_id: fb755be4c4be745d7b201d73c8b06f5b
    domain: device_tracker
    entity_id: e667e59d3dd06fdf6edb25acce6d90da
    type: is_home
  actions:
  - device_id: 7191f1d79d9f643f959a2d6c2a6a7fb7
    domain: button
    entity_id: 7e8a9ab19dd6a1455d1c94081daef6ee
    type: press
  mode: single
- id: '1769365648479'
  alias: When C40 stops charging
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.volvo_c40_charging_status
    from:
    to:
    - idle
    - done
  conditions:
  - condition: device
    device_id: fb755be4c4be745d7b201d73c8b06f5b
    domain: device_tracker
    entity_id: e667e59d3dd06fdf6edb25acce6d90da
    type: is_home
  actions:
  - device_id: 7191f1d79d9f643f959a2d6c2a6a7fb7
    domain: button
    entity_id: ea7894544e30a92c941aee5fbec4fa65
    type: press
  mode: single
- id: '1770115571530'
  alias: EV9 / Volvo batterijbeheer met modus-geheugen
  triggers:
  - minutes: '*'
    trigger: time_pattern
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: numeric_state
        entity_id: sensor.dsmr_reading_electricity_currently_returned
        above: 0.2
      - condition: numeric_state
        entity_id: sensor.dsmr_reading_electricity_currently_delivered
        below: 0.2
      - condition: state
        entity_id: sensor.marstek_venuse_3_0_operating_mode
        state:
        - Manual
        - unknown
      sequence:
      - target:
          entity_id: button.marstek_venuse_3_0_auto_mode
        action: button.press
        data: {}
    - conditions:
      - condition: numeric_state
        entity_id: sensor.dsmr_reading_electricity_currently_delivered
        above: 0.1
      - condition: state
        entity_id: sensor.marstek_venuse_3_0_operating_mode
        state:
        - Auto
        - unknown
      - condition: or
        conditions:
        - condition: and
          conditions:
          - condition: state
            entity_id: device_tracker.ev_tank_location
            state: home
          - condition: state
            entity_id: binary_sensor.ev_tank_ev_battery_charge
            state:
            - 'on'
        - condition: and
          conditions:
          - condition: state
            entity_id: device_tracker.volvo_c40_location
            state: home
          - condition: state
            entity_id: sensor.volvo_c40_charging_status
            state: Charging
      sequence:
      - target:
          entity_id: button.marstek_venuse_3_0_manual_mode
        action: button.press
        data: {}
  mode: restart
- id: '1770115888396'
  alias: Failsafe update batterij helper elke 1 uur
  triggers:
  - hours: /1
    trigger: time_pattern
  conditions: []
  actions:
  - target:
      entity_id:
      - input_text.input_text_batterij_laatste_mode
    data:
      value: '{{ states(''sensor.marstek_venuse_3_0_operating_mode'') }}'
    action: input_text.set_value
  mode: single
