- id: '1759585676128'
  alias: gitpush
  description: ''
  triggers:
  - trigger: time
    at: 02:00:00
  conditions: []
  actions:
  - action: shell_command.pushupdates_to_github
    metadata: {}
    data: {}
  mode: single
- id: '1769261881759'
  alias: New automation
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.ev_tank_ev_battery_charge
    from:
    to:
    - 'on'
  conditions:
  - condition: device
    device_id: fcfaaedb4eb0fda0ef76e166d8fb8ab7
    domain: device_tracker
    entity_id: d8e4c4ae2cb52575dbcece61045311e2
    type: is_home
  actions:
  - device_id: 7191f1d79d9f643f959a2d6c2a6a7fb7
    domain: button
    entity_id: 7e8a9ab19dd6a1455d1c94081daef6ee
    type: press
  mode: single
- id: '1769262021325'
  alias: New automation2
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.ev_tank_ev_battery_charge
    from:
    to:
    - 'off'
  conditions:
  - condition: device
    device_id: fcfaaedb4eb0fda0ef76e166d8fb8ab7
    domain: device_tracker
    entity_id: d8e4c4ae2cb52575dbcece61045311e2
    type: is_home
  actions:
  - device_id: 7191f1d79d9f643f959a2d6c2a6a7fb7
    domain: button
    entity_id: ea7894544e30a92c941aee5fbec4fa65
    type: press
  mode: single
- id: '1769365529096'
  alias: When C40 is charging
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.volvo_c40_charging_status
    from:
    to:
    - 'on'
  conditions:
  - condition: device
    device_id: fb755be4c4be745d7b201d73c8b06f5b
    domain: device_tracker
    entity_id: e667e59d3dd06fdf6edb25acce6d90da
    type: is_home
  actions:
  - device_id: 7191f1d79d9f643f959a2d6c2a6a7fb7
    domain: button
    entity_id: 7e8a9ab19dd6a1455d1c94081daef6ee
    type: press
  mode: single
- id: '1769365648479'
  alias: When C40 stops charging
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - sensor.volvo_c40_charging_status
    from:
    to:
    - idle
    - done
  conditions:
  - condition: device
    device_id: fb755be4c4be745d7b201d73c8b06f5b
    domain: device_tracker
    entity_id: e667e59d3dd06fdf6edb25acce6d90da
    type: is_home
  actions:
  - device_id: 7191f1d79d9f643f959a2d6c2a6a7fb7
    domain: button
    entity_id: ea7894544e30a92c941aee5fbec4fa65
    type: press
  mode: single
